body{
        font-family: 'Times New Roman', Times, serif;
}

textarea{
    resize:none;    
}

#box{
	padding-left:30px;
	
}

.container{
  		position: relative;
  		top: 300px;
   		transform: translate(0,-75%);
  		max-width:850px;
  		display:block;
  		margin:0 auto;
  		background-color: white;
  	}

  .star{
    color:red;
  }
  #textbox{
    background-color:lightgrey;
  }
  #button{
    background-color: lightgrey;
  }
  .edit{
    padding-left:-20px;
  }
  
#editlink{
	cursor:pointer;
	text-decoration: underline
}
#password{
	pointer-events:none;
	background-color:#ddd;
}
#backbutton{
	
}

